@import url("../pagina-inicial/styles.css");

:root {
    --background: url("../../pomodoro/imagens/lofi-girl-doing-homework-moewalls-com.mp4");
    --btn-color: #84A7C5;
    --titulo-color: #343434;
    --cor-clara: #C7CBCC;
    --fonte-titulo: 'M PLUS Rounded 1c', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

#video-bg {
    width: 110%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Coloca o vídeo atrás do conteúdo da página */
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    padding: 0.6em;
    background-color: var(--branco);
    opacity: 0.8;
}

.cabecalho-titulo {
    font-size: 2em;
    font-family: var(--fonte-titulo);
    font-weight: 700;
}

span {
    font-style: italic;
    font-weight: 300;
    color: var(--btn-color);
}

.pomodoro__container-card {

}