@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #0AA1DD;
    --primary-color: #E8F9FD;
    --titulo-color: #191919;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 5em;
}

h3 {
    margin-top: 20px;
    font-size: 2em;
}

.cabecalho {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.cabecalho__container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.cabecalho__container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
} 

.cabecalho__logo {
    text-decoration: none;
    color: var(--preto);
    font-size: 23px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cabecalho__logo-final {
    border: none;
    background: transparent;
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
    padding: 0;
    cursor: pointer;
}

.cabecalho__container-opcoes {
    margin-right: 1.6em;
}

.cabecalho_opcoes-link {
    text-decoration: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 300;
    margin-left: 1em;
}

.cabecalho_opcoes-link:hover{
    color: var(--titulo-color);
    font-weight: 700;
}

.cabecalho__logo-final:hover {
    color: var(--branco);
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}