.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.cabecalho__container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.cabecalho__container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
} 

.cabecalho__logo {
    text-decoration: none;
    color: var(--preto);
    font-size: 23px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cabecalho__logo-final {
    border: none;
    background: transparent;
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
    padding: 0;
    cursor: pointer;
}

.cabecalho__container-opcoes {
    margin-right: 1.6em;
}

.cabecalho_opcoes-link {
    text-decoration: none;
    color: var(--preto);
    font-size: 14px;
    font-weight: 300;
    margin-left: 1em;
}

.cabecalho_opcoes-link:hover, .cabecalho__logo-final:hover{
    color: red;
}