.swiper {
    margin-top: 3em;
    width: 70%;
    height: 78vh;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}