.swiper {
    margin-top: 100px;
    width: 55%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff; 
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 1024px){
    .swiper {
        width: 80%;
        margin-top: 50px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        padding: 8px;
        top: 60%; 
    }
}

@media (max-width: 768px) {
    .swiper {
        width: 80%;
        margin-top: 50px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        padding: 8px;
        top: 60%; 
    }
}

@media (max-width: 480px) {
    .swiper {
        width: 90%;
        margin-top: 30px; 
    }

    .swiper-button-prev,
    .swiper-button-next {
        padding: 6px; 
        top: 60%; 
    }
}