@import url('header.css');

:root {
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --branco: #FFFFFF;
    --preto: #000000;
}

body {
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 16px;
}

